{% extends 'base.html' %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for fieldname in ['username', 'password'] %}
            {% with field = form|attr(fieldname) %}
                <p>
                    {{ field.label }}<br>
                    {{ field(size=32)}}<br>
                    {% for error in field.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            {% endwith %}
        {% endfor %}
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p><a href="{{ url_for('register') }}">Register</a></p>
{% endblock %}
