{% extends 'base.html' %}

{% set ERR_GENERAL_ID = 'ERR_GENERAL_ID' %}
{% set FORM_DELETE_ID = 'form-delete' %}
{% set MODAL_DELETE_ID = 'modal-delete' %}

{% block scripts scoped %}
    {{ super() }}
    <script>
        const ERR_GENERAL_ID = "{{ ERR_GENERAL_ID }}";
        const FORM_DELETE_ID = "{{ FORM_DELETE_ID }}";
        const MODAL_DELETE_ID = "{{ MODAL_DELETE_ID }}";
        const API_URL_FLASH = "{{ url_for('api_flash') }}";
        const EMPLOYEE_URL = "{{ url_for('api_get_object', classname='employee') }}"
    </script>
    <script src="{{ url_for('static', filename='scripts/forms.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/manage.js') }}"></script>
{% endblock %}

{% block style %}
    {{ super() }}
    <link href="{{ url_for('static', filename='style/manage.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content scoped %}
    {% block modal scoped %}
        <div id="{{ MODAL_DELETE_ID }}" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Employee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="{{ FORM_DELETE_ID }}" action="{{ url_for('api_employee_delete') }}" method="post">
                            {{ form.hidden_tag() }}
                            {% for fieldname in ['replacement_id'] %}
                                {% with field = form|attr(fieldname) %}
                                    <p>
                                        {{ field.label(class='pb-0') }}<br>
                                        {% if field.description -%}
                                            <small>{{ field.description }}</small><br>
                                        {%- endif %}
                                        {{ field(size=10)}}<br>
                                        <span class="errors" for="{{ field.id }}">
                                            {% for error in field.errors %}
                                                <span>[{{ error }}]</span>
                                            {% endfor %}
                                        </span>
                                    </p>
                                {% endwith %}
                            {% endfor %}
                            <span class="errors" for="{{ ERR_GENERAL_ID }}"></span>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" form="form-delete" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    <a type="button" class="btn btn-success my-1" href="{{ url_for('employee') }}"><b>Add new employee</b></a>
    {% raw %}
        <!-- grid template -->
        <script type="text/x-template" id="grid-sortable-template">
            <table class="table table-hover">
                <thead class="thead-dark">
                   <tr>
                        <th v-for="key in columns"
                            :class="{ active :sortKey == key }"
                            @click="sortBy(key)">
                            {{ key | capitalize | replace("_", " ") }}
                            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="entry in sortedData">
                        <td v-for="key in columns">
                            {{entry[key]}}
                        </td>
                        <td>
    {% endraw %}
                            <a :href="{{ '\'' + url_for('employee', id='-1') + '\' | replace(\'-1\', entry[\'id\'])' }}">edit</a>
                            <a href="#" :data-id="entry['id']" data-toggle="modal" data-target="#{{ MODAL_DELETE_ID }}" :onclick="'show_modal_delete(' + entry['id'] + ');'">delete</a>
    {% raw %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </script>

        <!-- Vue root element -->
        <div id="employee_table">
            <form id="search" @submit.prevent="runSearch">
                <h3>Search</h3>
                <div class="input-group mb-3">
                    <span class="mx-1" v-for="field in searchFields">
                        <input class="form-control" :placeholder="field | replace('_',' ')" v-model="searchQuery[field]" :key="field"/>
                    </span>
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
          </form>
          <grid-sortable
              :data="gridData"
              :columns="gridColumns.map(x => x['name'])"
              :filters="searchQuery">
          </grid-sortable>
        </div>
    {% endraw %}
{% endblock %}
