{% extends 'base.html' %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for fieldname in ['username', 'email', 'password', 'password_repeat'] %}
            {% with field = form|attr(fieldname) %}
                <p>
                    {{ field.label }}<br>
                    {{ field(size=32, autocomplete='off')}}<br>
                    {% for error in field.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            {% endwith %}
        {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
